$mq-small   : 576px !default;
$mq-medium  : 768px !default;
$mq-large   : 992px !default;

$primary-color: #D34B6A;
$secondary-color: #FFE7C1;
$tertiary-color: #F08663;
$black: #363636;
$white: #ffffff;

$primary-font: 'Montserrat', sans-serif;