@import '../../../sass/styles.scss';

.title {
    text-align: center;
    font-size: 18px;
    color: $black;
}

.title-column {
    @include top-space(); 
}

@include breakpoint-md(){
    .title {    
        font-size: 21px;
    }
}

@include breakpoint-lg(){
    .title {    
        font-size: 25px;
    }
}