@import '../../../sass/styles.scss';

@include breakpoint-sm(){
    .title {    
        font-size: 21px;
    }
}

@include breakpoint-md(){
    .title {    
        font-size: 18px;
    }
}

.title {
    text-align: center;
    color: $black;
}

.title-column {
    @include top-space(); 
}
