@import '../../../sass/styles.scss';

nav {
    border-bottom: 1px solid $primary-color;
    div {
        margin: 15px 0;
        a {
            margin-left: 15px;
            color: $black;
            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li {
                margin: 0 10px;
                &:nth-child(1){
                    margin-left: 0;
                }
            }
        }
    }
}

@include breakpoint-md(){
    nav div a{
        margin-left: 0;
    }
}

@include breakpoint-lg(){
}
